h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{text-align: center;

}
li{

}
.front{
   width: 50%;
   margin-left: 25%;
}
.biow{
    margin: 25%;
}
.product{
    width: 40%;
    border: 5px thick;
    border: black;
}